*{
    font-family:"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header{
    margin-left:30px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

main section{
    margin: 30px;
    color: rgb(107, 101, 101);
}

h2,h3, dt{
    color: rgb(72, 69, 69);
}

dt{
    font-weight: 500;
}

footer nav{
    display: flex;
    justify-content: center;
}

footer nav a{
    all: unset;
}

button{
    all: unset;
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #c0b8b8;
    margin: 30px 0;
    color: rgb(113, 112, 112);
    background-color: rgb(238, 233, 233);
}

button:hover, button:active {
    background-color: lightblue;
    color: rgb(72, 69, 69);
}