*{
    cursor:default;
    background-color: rgb(12,16,20);
    font-family:"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body{
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px;
    border-bottom:1px solid rgb(89, 87, 87) ;
    background-color: #272525;
}

.logo, .logo img{
    height: 30px;
    background-color: inherit;
}

header nav{
    width: 250px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: inherit;
}

.linkNav{
    margin: 0 10px;
    background-color: inherit;
}

.linkNav a{
    all: unset;
    color: rgb(188, 232, 122);
    font-size: 18px;
    letter-spacing: 1px;
    transition: 1s ease;
}

.linkNav a:hover{
    font-size: 15px;
    text-decoration: underline;
}

#hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 50px;
    background-color: #272525;
}

#hero h1{
    letter-spacing: 2px;
    font-size: 3.2rem;
    font-family: "Caveat", cursive;;
    color: rgb(156, 152, 152);
    background-color: inherit;
    animation: fadein 1s ease;
}

#hero p{
    color: greenyellow;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: inherit;
    animation: fadein 2s ease;
}

#hero button{
    all: unset;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    color: #343232;
    background-color: #aca9a9;
    animation: slideup 2s ease;
}

.card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    padding: 10px;
    margin: 50px 50px;
    border-radius: 14px;
    text-align: center;
    background-color: #2d2b2b;
    transition:0.5s ease-in-out;
}

#feature h2, #pricing h2{
    font-size: 30px;
    text-align: left;
    margin: 100px 0 20px 30px;
    color: white;
    font-family: "Nothing You Could Do", cursive;
}

.feCard{
    height: 150px;
    width: 200px;
    box-shadow: 2px 2px 5px rgb(49, 47, 47);
}

.feCard h3{
    color: #82bad8;
}

.feCard p{
    color: #ced1cc;
}

.feCard:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 6px #2b416e;
    background-color: #122f67;
}

.priceCard{
    height: 250px;
    width: 150px;
}

.priceCard h3{
    margin-bottom: 50px;
    color: #53bac1;
}

.priceCard .price, .priceCard span{
    color: #dbd7d6;
}

.priceCut{
    text-decoration: line-through;
}

.priceCard .priceDes{
    margin-top: 50px;
    color: #dbd7d6;
}

.priceCard:hover{
    border: 2px solid aqua;
    transform: scale(1.02);
    
}

.card h3, .card p, .card span{
    background-color: inherit;
}



.price,.price+span{
    font-size: 20px;
    font-weight: 400;
}

.priceDes{
    margin-top: 50px;
    font-size: 13px;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    background-color: #000000;
}

.links{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    background-color: inherit;
}

.linkBtn{
    font-size: 12px;
    height: 16px;
    width: auto;
    margin: 0 8px  12px;
    background-color: inherit;
}

.linkBtn a{
    all: unset;
    cursor: pointer;
    color: rgb(168, 168, 168);
}

.linkBtn a:hover{
    text-decoration: underline;
}

.copyright, .contact{
    text-align: center;
    font-size: 12px;
    word-spacing: 1px;
    color: rgb(168, 168, 168);
    margin-top:20px ;
    background-color: inherit;
}

.contact{
    margin-top: 10px;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideup {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 510px){
    header nav{
        display: none;
    }
}